<h1>Dashboard</h1>

<form action="/blog" method="POST">
  <input name="text" type="text" placeholder="Share your thought">
  <button>Submit</button>
</form>

<main class="blogs">
  {{#each blogs}}
    <div class="blog">
      <p>{{text}}</p>
    </div>
  {{/each}}
</main>