<h1>See What Others Are Thinking</h1>
<!-- Output each user's email address, using a handlebars each loop -->
<ul>
  {{#each blogs}}
    <li>
      <p>{{text}}</p>
      <p>Added By: {{user.email}}</p>
    </li>
  {{/each}}
</ul>
